body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table {
    display: inline-flex;
}

table td {
    text-align: center;
    vertical-align: middle;
}