{% extends "template.html" %}
{% block content %}

<table>
    <tr>
        <td>{{ letter1 }}</td>
        <td>{{ letter1 }}</td>
        <td>{{ letter1 }}</td>
        <td>{{ letter1 }}</td>
        <td>{{ letter1 }}</td>
    </tr>

    <tr>
        <td>{{ letter1 }}</td>
        <td>{{ letter1 }}</td>
        <td>{{ letter1 }}</td>
        <td>{{ letter1 }}</td>
        <td>{{ letter1 }}</td>
    </tr>

    <tr>
        <td>{{ letter1 }}</td>
        <td>{{ letter1 }}</td>
        <td>{{ letter1 }}</td>
        <td>{{ letter1 }}</td>
        <td>{{ letter1 }}</td>
    </tr>

    <tr>
        <td>{{ letter1 }}</td>
        <td>{{ letter1 }}</td>
        <td>{{ letter1 }}</td>
        <td>{{ letter1 }}</td>
        <td>{{ letter1 }}</td>
    </tr>

    <tr>
        <td>{{ letter1 }}</td>
        <td>{{ letter1 }}</td>
        <td>{{ letter1 }}</td>
        <td>{{ letter1 }}</td>
        <td>{{ letter1 }}</td>
    </tr>
</table>

{% endblock %}