{% extends "template.html" %}
{% block content %}

<table>
    <tr>
        <td>{{ letter1 }}</td>
        <td>{{ letter2 }}</td>
        <td>{{ letter3 }}</td>
        <td>{{ letter4 }}</td>
        <td>{{ letter5 }}</td>
    </tr>

    <tr>
        <td>{{ letter6 }}</td>
        <td>{{ letter7 }}</td>
        <td>{{ letter8 }}</td>
        <td>{{ letter9 }}</td>
        <td>{{ letter10 }}</td>
    </tr>

    <tr>
        <td>{{ letter11 }}</td>
        <td>{{ letter12 }}</td>
        <td>{{ letter13 }}</td>
        <td>{{ letter14 }}</td>
        <td>{{ letter15 }}</td>
    </tr>

    <tr>
        <td>{{ letter16 }}</td>
        <td>{{ letter17 }}</td>
        <td>{{ letter18 }}</td>
        <td>{{ letter19 }}</td>
        <td>{{ letter20 }}</td>
    </tr>

    <tr>
        <td>{{ letter21 }}</td>
        <td>{{ letter22 }}</td>
        <td>{{ letter23 }}</td>
        <td>{{ letter24 }}</td>
        <td>{{ letter25 }}</td>
    </tr>
</table>

<br><br>

<form action="/">
    <input type="submit" value="Shuffle Letters">
</form>

<form action="/play">
    <input type="submit" value="Start Timer!">
</form>

<br><br>

<div class="timerDisplay" id="timerDisplay"></div>

{% endblock %}